*.csproj
*.sln
*_ButDontShipItWithYourGame
*_DoNotShip
.DS_Store
.idea
.vs
obj
Assets/_TerrainAutoUpgrade*
Assets/Plugins/AmplifyShaderEditor/Examples*
BuildReports*
Build
Library
Logs
Packages/packages-lock.json
Temp
UserSettings/